{% extends "printery/frontside_layout.html" %}
{% load static %}

{% block window %}
    {% if user.is_authenticated %}
  <div class="flex-lg-1 h-screen overflow-y-lg-auto">

        <header class="position-sticky top-0 overlap-10 bg-surface-primary border-bottom">
          <div class="container-fluid py-4">
            <div class="row align-items-center">
              <div class="col">
                <div class="d-flex align-items-center gap-4">
                  <div><button onclick="location.href = '/user-cabinet';" type="button" class="btn-close text-xs" aria-label="Close"></button></div>
                  <div class="vr opacity-20 my-1"></div>
                  <h1 class="h4 ls-tight">Create a new order</h1>
                </div>
              </div>
              <div class="col-auto">
                <div class="hstack gap-2 justify-content-end">
                  <a href="#" class="text-sm text-muted text-primary-hover font-semibold me-2 d-none d-md-block">
                    <i class="bi bi-question-circle-fill"></i> <span class="d-none d-sm-inline ms-2">Need help?</span>
                  </a>
                  <!--<button type="button" class="btn btn-sm btn-neutral border-base d-none d-md-block"><span>Save and create another</span></button> -->
                   <button type="submit" form="order_form" class="btn btn-sm btn-primary"><span>Save</span></button>
                </div>
              </div>
            </div>
          </div>
        </header>

         <!-- End of header -->

      <main class="py-6 bg-surface-secondary">
        {% include 'printery/form-new-order.html' %}

      <!-- Success order modal -->
        <div class="modal fade" id="modalOrderSuccess" tabindex="-1" aria-labelledby="modalOrderSuccess" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content shadow-3">
                  <div class="modal-header">
                      <div class="icon icon-shape rounded-3 bg-soft-primary text-primary me-4"><i class="bi bi-check-lg"></i></div>
                      <!-- <div> -->
                          <h4 class="mb-1">Thank you for your order!</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          <!-- <small class="d-block text-xs text-muted">Publish and share link with anyone</small> -->
                      <!-- </div> -->
                      <!-- <div class="ms-auto">
                          <div class="form-check form-switch me-n2">
                              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="checked" /> <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                          </div>
                      </div> -->
                  </div>
                  <div class="modal-body">
                    <!-- <div class="d-flex align-items-center mb-5"> -->

                      <h4>Order Details</h4>
                        <hr>
                          <p><span class="font-bold">Order ID: #</span>123</p>
                          <p><span class="font-bold">Type: #</span>123</p>
                          <p><span class="font-bold">Width (mm): #</span>123</p>
                          <p><span class="font-bold">Height (mm): #</span>123</p>                          
                          <p><span class="font-bold">Circulation: #</span>123</p>
                          <p><span class="font-bold">Binding: #</span>123</p>
                          <p><span class="font-bold">Width (mm): #</span>123</p>
                          <p><span class="font-bold">Height (mm): #</span>123</p>
                          <p><span class="font-bold">Date of delivery: #</span>123</p>
                    <!-- </div> -->
                      <div>
                          <div class="input-group input-group-inline">
                              <input type="email" class="form-control" placeholder="username" value="https://" /> <span class="input-group-text"><i class="bi bi-clipboard"></i></span>
                          </div>
                          <span class="mt-2 valid-feedback">Looks good!</span>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <div class="me-auto">
                          <a href="#" class="text-sm font-semibold"><i class="bi bi-clipboard me-2"></i>Copy link</a>
                      </div>
                      <button type="button" class="btn btn-sm btn-neutral" data-bs-dismiss="modal">Close</button> <button type="button" class="btn btn-sm btn-success">Share file</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- End of modal success order -->


          {% if successful_submit %}
            <script>
                  document.addEventListener('DOMContentLoaded', function() {
                  // https://getbootstrap.com/docs/5.0/components/modal/#via-javascript
                  let successModal = new bootstrap.Modal(
                    document.getElementById("modalOrderSuccess"),
                    {}
                  );
                  let successModalOnClose = document.getElementById('modalOrderSuccess');
                      successModalOnClose.addEventListener('hidden.bs.modal', function (event) {
                          window.location.href = "/user-cabinet";
                  });
                  // https://getbootstrap.com/docs/5.0/components/modal/#show
                  successModal.show();
                })
              </script>
          {%  endif %}

        </main>
</div>

    {% endif %}

{% endblock %}
