{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Printery{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'printery/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'printery/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'printery/css/sidebars.css' %}">

        {% block script %}
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="{% static 'printery/scripts.js' %}"></script>
        {% endblock %}
    </head>
    <body>
      <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <a class="navbar-brand" href="{% url 'index' %}">Printery</a>
      <ul class="nav me-auto">
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
      </ul>
      <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="profile/{{ user.username }}"><strong>Hi, {{ user.username }}!</strong></a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link link-dark px-2">Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link link-dark px-2">Login</a></li>
            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link link-dark px-2">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        <script src="{% static 'printery/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'printery/js/sidebars.js' %}"></script>
    </body>
</html>
